
.cta-section {
    position: relative;
    overflow: hidden;
  }
  
  .cta-section::before {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -30px;
    margin: auto;
    width: 200px;
    height: 200px;
  }
  
  .cta-section::after {
    content: "";
    border: 20px solid var(--custom-btn-bg-color);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 150px;
  }
  